/*
Marketing Transactional Single Send

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package transactional

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PublicSmtpTokensAPIService PublicSmtpTokensAPI service
type PublicSmtpTokensAPIService service

type ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest struct {
	ctx        context.Context
	ApiService *PublicSmtpTokensAPIService
	tokenId    string
}

func (r ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketingV3TransactionalSmtpTokensTokenIdExecute(r)
}

/*
DeleteMarketingV3TransactionalSmtpTokensTokenId Delete a single token by ID.

Delete a single token by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenId Identifier generated when a token is created.
	@return ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest
*/
func (a *PublicSmtpTokensAPIService) DeleteMarketingV3TransactionalSmtpTokensTokenId(ctx context.Context, tokenId string) ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest {
	return ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
func (a *PublicSmtpTokensAPIService) DeleteMarketingV3TransactionalSmtpTokensTokenIdExecute(r ApiDeleteMarketingV3TransactionalSmtpTokensTokenIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicSmtpTokensAPIService.DeleteMarketingV3TransactionalSmtpTokensTokenId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/transactional/smtp-tokens/{tokenId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterValueToString(r.tokenId, "tokenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMarketingV3TransactionalSmtpTokensRequest struct {
	ctx             context.Context
	ApiService      *PublicSmtpTokensAPIService
	campaignName    *string
	emailCampaignId *string
	after           *string
	limit           *int32
}

// A name for the campaign tied to the SMTP API token.
func (r ApiGetMarketingV3TransactionalSmtpTokensRequest) CampaignName(campaignName string) ApiGetMarketingV3TransactionalSmtpTokensRequest {
	r.campaignName = &campaignName
	return r
}

// Identifier assigned to the campaign provided during the token creation.
func (r ApiGetMarketingV3TransactionalSmtpTokensRequest) EmailCampaignId(emailCampaignId string) ApiGetMarketingV3TransactionalSmtpTokensRequest {
	r.emailCampaignId = &emailCampaignId
	return r
}

// Starting point to get the next set of results.
func (r ApiGetMarketingV3TransactionalSmtpTokensRequest) After(after string) ApiGetMarketingV3TransactionalSmtpTokensRequest {
	r.after = &after
	return r
}

// Maximum number of tokens to return.
func (r ApiGetMarketingV3TransactionalSmtpTokensRequest) Limit(limit int32) ApiGetMarketingV3TransactionalSmtpTokensRequest {
	r.limit = &limit
	return r
}

func (r ApiGetMarketingV3TransactionalSmtpTokensRequest) Execute() (*CollectionResponseSmtpApiTokenViewForwardPaging, *http.Response, error) {
	return r.ApiService.GetMarketingV3TransactionalSmtpTokensExecute(r)
}

/*
GetMarketingV3TransactionalSmtpTokens Query SMTP API tokens by campaign name or an emailCampaignId.

Query multiple SMTP API tokens by campaign name or a single token by emailCampaignId.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMarketingV3TransactionalSmtpTokensRequest
*/
func (a *PublicSmtpTokensAPIService) GetMarketingV3TransactionalSmtpTokens(ctx context.Context) ApiGetMarketingV3TransactionalSmtpTokensRequest {
	return ApiGetMarketingV3TransactionalSmtpTokensRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CollectionResponseSmtpApiTokenViewForwardPaging
func (a *PublicSmtpTokensAPIService) GetMarketingV3TransactionalSmtpTokensExecute(r ApiGetMarketingV3TransactionalSmtpTokensRequest) (*CollectionResponseSmtpApiTokenViewForwardPaging, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectionResponseSmtpApiTokenViewForwardPaging
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicSmtpTokensAPIService.GetMarketingV3TransactionalSmtpTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/transactional/smtp-tokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.campaignName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "campaignName", r.campaignName, "")
	}
	if r.emailCampaignId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "emailCampaignId", r.emailCampaignId, "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest struct {
	ctx        context.Context
	ApiService *PublicSmtpTokensAPIService
	tokenId    string
}

func (r ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest) Execute() (*SmtpApiTokenView, *http.Response, error) {
	return r.ApiService.GetMarketingV3TransactionalSmtpTokensTokenIdExecute(r)
}

/*
GetMarketingV3TransactionalSmtpTokensTokenId Query a single token by ID.

Query a single token by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenId Identifier generated when a token is created.
	@return ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest
*/
func (a *PublicSmtpTokensAPIService) GetMarketingV3TransactionalSmtpTokensTokenId(ctx context.Context, tokenId string) ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest {
	return ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
//
//	@return SmtpApiTokenView
func (a *PublicSmtpTokensAPIService) GetMarketingV3TransactionalSmtpTokensTokenIdExecute(r ApiGetMarketingV3TransactionalSmtpTokensTokenIdRequest) (*SmtpApiTokenView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmtpApiTokenView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicSmtpTokensAPIService.GetMarketingV3TransactionalSmtpTokensTokenId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/transactional/smtp-tokens/{tokenId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterValueToString(r.tokenId, "tokenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMarketingV3TransactionalSmtpTokensRequest struct {
	ctx                    context.Context
	ApiService             *PublicSmtpTokensAPIService
	smtpApiTokenRequestEgg *SmtpApiTokenRequestEgg
}

// A request object that includes the campaign name tied to the token and whether contacts should be created for email recipients.
func (r ApiPostMarketingV3TransactionalSmtpTokensRequest) SmtpApiTokenRequestEgg(smtpApiTokenRequestEgg SmtpApiTokenRequestEgg) ApiPostMarketingV3TransactionalSmtpTokensRequest {
	r.smtpApiTokenRequestEgg = &smtpApiTokenRequestEgg
	return r
}

func (r ApiPostMarketingV3TransactionalSmtpTokensRequest) Execute() (*SmtpApiTokenView, *http.Response, error) {
	return r.ApiService.PostMarketingV3TransactionalSmtpTokensExecute(r)
}

/*
PostMarketingV3TransactionalSmtpTokens Create a SMTP API token.

Create a SMTP API token.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostMarketingV3TransactionalSmtpTokensRequest
*/
func (a *PublicSmtpTokensAPIService) PostMarketingV3TransactionalSmtpTokens(ctx context.Context) ApiPostMarketingV3TransactionalSmtpTokensRequest {
	return ApiPostMarketingV3TransactionalSmtpTokensRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SmtpApiTokenView
func (a *PublicSmtpTokensAPIService) PostMarketingV3TransactionalSmtpTokensExecute(r ApiPostMarketingV3TransactionalSmtpTokensRequest) (*SmtpApiTokenView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmtpApiTokenView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicSmtpTokensAPIService.PostMarketingV3TransactionalSmtpTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/transactional/smtp-tokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.smtpApiTokenRequestEgg == nil {
		return localVarReturnValue, nil, reportError("smtpApiTokenRequestEgg is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.smtpApiTokenRequestEgg
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest struct {
	ctx        context.Context
	ApiService *PublicSmtpTokensAPIService
	tokenId    string
}

func (r ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest) Execute() (*SmtpApiTokenView, *http.Response, error) {
	return r.ApiService.PostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetExecute(r)
}

/*
PostMarketingV3TransactionalSmtpTokensTokenIdPasswordReset Reset the password of an existing token.

Allows the creation of a replacement password for a given token. Once the password is successfully reset, the old password for the token will be invalid.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenId Identifier generated when a token is created.
	@return ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest
*/
func (a *PublicSmtpTokensAPIService) PostMarketingV3TransactionalSmtpTokensTokenIdPasswordReset(ctx context.Context, tokenId string) ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest {
	return ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
//
//	@return SmtpApiTokenView
func (a *PublicSmtpTokensAPIService) PostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetExecute(r ApiPostMarketingV3TransactionalSmtpTokensTokenIdPasswordResetRequest) (*SmtpApiTokenView, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SmtpApiTokenView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicSmtpTokensAPIService.PostMarketingV3TransactionalSmtpTokensTokenIdPasswordReset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterValueToString(r.tokenId, "tokenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
