/*
Events

API for accessing CRM object events.

API version: v3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package events

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"time"
)

// EventsAPIService EventsAPI service
type EventsAPIService service

type ApiGetEventsV3EventsRequest struct {
	ctx                    context.Context
	ApiService             *EventsAPIService
	objectType             *string
	eventType              *string
	occurredAfter          *time.Time
	occurredBefore         *time.Time
	objectId               *int64
	indexTableName         *string
	indexSpecificMetadata  *string
	after                  *string
	before                 *string
	limit                  *int32
	sort                   *[]string
	objectPropertyPropname *map[string]interface{}
	propertyPropname       *map[string]interface{}
	id                     *[]string
}

func (r ApiGetEventsV3EventsRequest) ObjectType(objectType string) ApiGetEventsV3EventsRequest {
	r.objectType = &objectType
	return r
}

func (r ApiGetEventsV3EventsRequest) EventType(eventType string) ApiGetEventsV3EventsRequest {
	r.eventType = &eventType
	return r
}

func (r ApiGetEventsV3EventsRequest) OccurredAfter(occurredAfter time.Time) ApiGetEventsV3EventsRequest {
	r.occurredAfter = &occurredAfter
	return r
}

func (r ApiGetEventsV3EventsRequest) OccurredBefore(occurredBefore time.Time) ApiGetEventsV3EventsRequest {
	r.occurredBefore = &occurredBefore
	return r
}

func (r ApiGetEventsV3EventsRequest) ObjectId(objectId int64) ApiGetEventsV3EventsRequest {
	r.objectId = &objectId
	return r
}

func (r ApiGetEventsV3EventsRequest) IndexTableName(indexTableName string) ApiGetEventsV3EventsRequest {
	r.indexTableName = &indexTableName
	return r
}

func (r ApiGetEventsV3EventsRequest) IndexSpecificMetadata(indexSpecificMetadata string) ApiGetEventsV3EventsRequest {
	r.indexSpecificMetadata = &indexSpecificMetadata
	return r
}

// The paging cursor token of the last successfully read resource will be returned as the &#x60;paging.next.after&#x60; JSON property of a paged response containing more results.
func (r ApiGetEventsV3EventsRequest) After(after string) ApiGetEventsV3EventsRequest {
	r.after = &after
	return r
}

func (r ApiGetEventsV3EventsRequest) Before(before string) ApiGetEventsV3EventsRequest {
	r.before = &before
	return r
}

// The maximum number of results to display per page.
func (r ApiGetEventsV3EventsRequest) Limit(limit int32) ApiGetEventsV3EventsRequest {
	r.limit = &limit
	return r
}

func (r ApiGetEventsV3EventsRequest) Sort(sort []string) ApiGetEventsV3EventsRequest {
	r.sort = &sort
	return r
}

func (r ApiGetEventsV3EventsRequest) ObjectPropertyPropname(objectPropertyPropname map[string]interface{}) ApiGetEventsV3EventsRequest {
	r.objectPropertyPropname = &objectPropertyPropname
	return r
}

func (r ApiGetEventsV3EventsRequest) PropertyPropname(propertyPropname map[string]interface{}) ApiGetEventsV3EventsRequest {
	r.propertyPropname = &propertyPropname
	return r
}

func (r ApiGetEventsV3EventsRequest) Id(id []string) ApiGetEventsV3EventsRequest {
	r.id = &id
	return r
}

func (r ApiGetEventsV3EventsRequest) Execute() (*CollectionResponseExternalUnifiedEvent, *http.Response, error) {
	return r.ApiService.GetEventsV3EventsExecute(r)
}

/*
GetEventsV3Events Method for GetEventsV3Events

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEventsV3EventsRequest
*/
func (a *EventsAPIService) GetEventsV3Events(ctx context.Context) ApiGetEventsV3EventsRequest {
	return ApiGetEventsV3EventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CollectionResponseExternalUnifiedEvent
func (a *EventsAPIService) GetEventsV3EventsExecute(r ApiGetEventsV3EventsRequest) (*CollectionResponseExternalUnifiedEvent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectionResponseExternalUnifiedEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.GetEventsV3Events")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/v3/events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectType", r.objectType, "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventType", r.eventType, "")
	}
	if r.occurredAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurredAfter", r.occurredAfter, "")
	}
	if r.occurredBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurredBefore", r.occurredBefore, "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectId", r.objectId, "")
	}
	if r.indexTableName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexTableName", r.indexTableName, "")
	}
	if r.indexSpecificMetadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "indexSpecificMetadata", r.indexSpecificMetadata, "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "multi")
		}
	}
	if r.objectPropertyPropname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "objectProperty.{propname}", r.objectPropertyPropname, "")
	}
	if r.propertyPropname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "property.{propname}", r.propertyPropname, "")
	}
	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["private_apps_legacy"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["private-app-legacy"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v Error
		err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
